#reviewText {
    width: 600px;
    height: 200px;
    font-size: 16px;
}

form {
    display: flex;
    flex-direction: column;
    height: 200px; 
}

textarea {
    flex-grow: 1;
}

#btn {
    margin-top: 10px;
    width: 150px;
    height: 60px;
    border: 1px solid;
    border-radius: 12px;
}

#btn:hover {
    background-color: #e7e6e6;
}

#responseMessage{
    width: 600px;
    height: 200px;
    border: 1px solid;
}